#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #3361FF;
}

#progressBar div {
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #CBEA00;
  box-sizing: border-box;
}

.tt-cursor {
    background-color: #3576be !important;
    color: #FFFFFF !important;
}

[data-entity][data-entity="norp"] {
    background: rgba(224,0,132,0.2);
    border-color: #e00084;
}

[data-entity][data-entity="org"] {
    background: rgba(67,198,252,0.2);
    border-color: #43c6fc;
}

[data-entity][data-entity="person"] {
    background: rgba(166,226,45,0.2);
    border-color: #a6e22d;
}

[data-entity] {
  padding: 0.25em 0.35em;
      margin: 0 0.25em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid;

}
